<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>


<%= link_to 'Edit', edit_admin_page_path(@page), class: 'btn btn-success' %> |
<%= link_to 'Back', admin_pages_path, class: 'btn btn-success' %>