<h3 class="page-title"><%= @messages.size %> SMS</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Time</th>
      <th>Name / Number</th>
      <th>SMS Content</th>
      <% if current_user.admin %>
      <th>Device</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.msg_type %></td>
        <td><%= message.time.strftime("%d %B %Y %H:%M") %></td>
        <td><%= message.contact.name %><br><%= message.contact.number %></td>
        <td style="width: 50%;"><div class="well well-sm sms-text"><%= message.message %></div></td>
        <% if current_user.admin %>
        <td><%= message.device.name %></td>
        <td><%= link_to 'Show', admin_message_path(message) %></td>
        <td><%= link_to 'Edit', edit_admin_message_path(message) %></td>
        <td><%= link_to 'Destroy', admin_message_path(message), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
<%= link_to 'New Message', new_admin_message_path, class: 'btn btn-success' %>
<% end %>