<h3 class="page-title"><%= pluralize( @devices.size, 'Football' ) %> on Dashboard <span class="n-space"></span>
  <% if current_user.admin %>
  <%= link_to 'New Football', new_admin_device_path, class: 'btn btn-success' %>
<% end %>
</h3>
<% @devices.each do |device| %>
  <div class="content-container">
    <div class="content-box">
      <h4 class="box-page-title">
        <img class="img-thumbnail" data-src="holder.js/60x60" style="width: 60px; height: 60px;">
        <%= device.name %> &dash; <%= device.devise_type %>
      </h4>
      <div class="phone-desc">
        <table class="table">
          <thead>
            <tr>
              <th>Last Update:</th>
              <th>Used Plan:</th>
              <th>Expires On:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= device.updated_at.strftime("%d %B %Y") %></td>
              <td>Normal</td>
              <td><%= device.updated_at.strftime("%d %B %Y") %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="content-box-bottom-content">
        <table class="table att-container">
          <tbody>
            <% if current_user.admin %>
              <tr>
                <td><span class="att-label">User:</span><%= device.user.username if device.user %></td>
                <td colspan="2">
                  <%= link_to 'Show', admin_device_path(device), class: 'btn btn-success' %><span class="n-space"></span>
                  <%= link_to 'Edit', edit_admin_device_path(device), class: 'btn btn-success' %><span class="n-space"></span>
                  <%= link_to 'Destroy', admin_device_path(device), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

