<h1>Form Details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @form.subject %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @form.phone %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= raw(@form.message) %>
</p>

<%= link_to 'Back', admin_forms_path, class: 'btn btn-success' %>